:root {
  --padding: 48px;
  --background-color: #FFFFFF;
  --color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px var(--padding);
}